
.all {
  align-items: center;
  background-image: url(../../Img/baner3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: 'Arsenal', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all h2 {
  color: #044AA4;
}

.all h1 {
  color: #044AA4;
  font-size: 100px;
}

.all .tx-center {
  text-align: center;

}

.all a {
  text-decoration: none;
}

.all button {
  background-color: white;
  margin-bottom: 5px;
  width: 30vh;
  height: 10vh;

  border-radius: 50px;
  cursor: pointer;
  border: none;
}

.all button {
  margin: 50px 0;
}