
body{background-image:url(../Img/baner3.png);
    background-repeat: no-repeat;
background-position: center;
background-size: cover;

font-family: 'Arsenal', sans-serif;
}

h2{color: #044AA4;}

h1{color: #044AA4;}

h1{font-size: 110px;}

.paper1{align-items: top
;
}

.top img{width: 800px;
}


.
