
body{background-image:url(../Img/Baner1.png);
    background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100vh;}

.paper1{align-items: top
;
}

.top img{width: 800px;
}
